/* Styles pour la section de bienvenue */
.home-welcome {
  width: 100%;
  margin: auto 50px;
}

/* Styles pour le texte de bienvenue */
.home-welcome-p {
  font-size: 28px;
}

/* Styles pour la partie dynamique du texte de bienvenue */
.home-welcome-p span {
  font-size: 28px;
  color: red;
}

/* Styles pour le conteneur principal du profil */
.container-profil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Styles pour le conteneur de la partie gauche du profil */
.main-left-container {
  width: 100%;
}

/* Styles pour le conteneur du graphique en barres */
.barchart-container {
  width: 100%;
  margin: auto;
}

/* Styles pour le conteneur des graphiques de ligne, radar et barre radiale */
.container-line-radar-radial {
  display: flex;
  justify-content: space-around;
  padding: 5px 20px;
  flex-direction: row;
  width: 100%;
}

/* Styles pour le graphique de ligne */
.linechart-container {
  width: 90%;
  margin: auto;
}

/* Styles pour le graphique radar */
.radarchart-container {
  width: 90%;
  margin: auto;
}

/* Styles pour le graphique de barre radiale */
.radialbarchart-container {
  width: 90%;
  margin: auto;
}
