.cards{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width:100px;
  margin:0px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.039);
  border-radius: 5px;
  height:fit-content;
  padding:20px;
}
.cards-img{
  width:10px;
  padding:5px 10px;
  border-radius: 5px;

}
.cards-img img{
  width:100%;
}
.cards-description{
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
text-align: left;
width:20px;
font-size: 15px;
padding: 5px 15px;
}

.description-unit{
display:flex;
flex-direction: row;
flex-wrap: nowrap;
white-space: none;
}
.description-type{
  font-size: 12px;
  opacity: 0.5;
}