@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font: 'Roboto', sans-serif;

* {
    font-family: $font;
    font-weight: 500;
}

body{
    width:100%;
    min-width: 800px;
}
main{

margin: 100px 70px;
display:flex;
flex-direction:column;
}

.error-message{
    position: fixed;
    top: 50%;
    left: calc(50% + 60px);
    transform: translate(-50%, -50%);
    background-color: red;
    padding: 20px;
    border-radius: 20px;
    width: 50%; 
    text-align: center;
    position: 'fixed';
    background-color: 'rgba(0,0,0,0.7)';
    z-index: 999;
    color:white;
    font-size: 50px;
};

.buttons-container{
    position: fixed;
    top: 50%;
    left: calc(50% + 60px);
    transform: translate(-50%, -50%);
    background-color: red;
    padding: 20px;
    border-radius: 20px;
    width: 50%; 
    text-align: center;
    position: 'fixed';
    background-color: 'rgba(0,0,0,0.7)';
    z-index: 999;
    color:white;
    font-size: 50px;
}

.buttons-container button{
    background-color: black;
    color: white;
    margin-right: 20px;
    cursor: pointer;

}

