/* Importe la police Roboto depuis Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variable pour la police principale utilisée dans le projet. */
$font: 'Roboto', sans-serif;

/* Applique la police principale et le poids de police par défaut à tous les éléments. */
* {
    font-family: $font;
    font-weight: 500;
}

/* Définit les styles du corps de la page. */
body {
    width: 100%;
    min-width: 800px;
    overflow-x: hidden;
    max-width: 1500px;
}

/* Définit les styles de la section principale de la page. */
main {
    margin: 100px 70px;
    display: flex;
    flex-direction: column;
}
