.home-welcome{
  width:100%;
  margin:auto 50px;

}
.home-welcome-p{
  font-size:28px;

}
.home-welcome-p span{
  font-size:28px;
  color:red;
}

.container-profil{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-left-container{
  width:100%;
}
.barchart-container{
  width:100%;
  margin:auto;
}
.container-line-radar-radial{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  width:100%;
}
.linechart-container{
  width:90%;
  margin:auto;
}
.radarchart-container{
  width:90%;

  margin:auto;
}
.radialbarchart-container{
  width:90%;
  margin:auto;
}
